@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --primary: #00003b;
  --secondary: #f5d20b;
  --third: #3232bd;
  --text-white: #fff;
  --text-secondary: rgba(206, 206, 206, 0.945);
}
#abouting{
  height: 100vh;
  width: 100%;
  background-color:rgb(6, 6, 116);
  padding-top: 80px;
}
#image-about{
    
    border: solid 2px var(--secondary);
    height: 30vh;
    border-radius: 20px;

   
}
.iconi{
  color:var(--secondary);
  font-size: 6rem;


}
#skill-title{
  color: var(--text-white);
}

#p-about{
  color: var(--text-secondary);
}
#row-about{
gap: 3rem;

}
#colum-about{
  border: 3px solid var(--primary);
  border-radius: 30px;
}
.box-icon .iconi{
  justify-content: center;
  padding: 20px;
  padding-left: 6rem;
}
.about{
  
}
#paragraph-about{
  color: var(--text-secondary);
}
#heading-5{
  color: var(--secondary);
}
#heading-2{
  color: var(--text-white);
}
/* #heading-2::after{
  content: '';
  background-color: var(--secondary);
  width: 10%;
  height: 3px;
  position: absolute;
  bottom: -55px;
  left: 45%;

} */
@media screen and (max-width:969px){
  #abouting{
    background-color: #3232bd;
    width: 100%;
    height: 200vh;
  }
  #myImage{
    justify-content: center;
    padding-left: 7rem;
  }
  #heading-5{
    text-align: center;
    padding-top: 2rem;
  }
  #colum-about{
    width: 70%;
  }
  #box-icon{

  }
  .iconi{
   
    font-size: 4rem;
  }
}
@media screen and (max-width:600px){
  #abouting{
    background-color: #3232bd;
    width: 100%;
    height: 230vh;
  }
}