@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --primary: #00003b;
  --secondary: #f5d20b;
  --third: #3232bd;
  --text-white: #fff;
  --text-secondary: rgba(206, 206, 206, 0.945);
}
.cs{
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.container{
  padding: 9rem;
}
#heading-one{
  color: var(--text-white);
  font-weight: 700;
  /* font-size: 50px; */
}
#heading-two{
  color: var(--secondary);
  font-weight: 700;

}
#paragraph{
  font-size: 20px;
}
#btn-one{
 background-color: #3232bd;
 border: solid #fff 2px;
 transition: 0.3s ease-in-out;
 
}
#btn-one:hover{
  background-color: var(--primary);
  color: #f5d20b;
}
#btn-two{
  background-color: green;
  border: solid 2px #00003b;
  transition: 0.3s ease-in-out;
}
#btn-two:hover{
  background-color: greenyellow;
  color: #00003b;
}